.home {
  display: flex;
}

.categories {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.products {
  margin-top: 20px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  text-align: center;
}
